<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <%- include(head); %>
  <body>
    <div id="wrap">
      <%- include('../includes/header'); %>
      <%- include(main); %>
      <%- include(content); %>
    </div>
    <%- include('../includes/footer'); %>
    <%- include('../includes/foot'); %>
  </body>
</html>
